<div class="container">
  <h2>Monsters</h2>

  <app-monster-detail *ngIf="selectedMonster !== undefined" [monster]="selectedMonster"></app-monster-detail>
  <div *ngIf="selectedMonster !== undefined">
    <button type="button" class="btn btn-primary" (click)="onDeselectMonster()">Back</button>
  </div>

  <div *ngIf="!dataLoaded">
    <div>
      Loading...
    </div>
    <div class="spinner-border" role="status">  
    </div>
  </div>

  <div *ngIf="dataLoaded && selectedMonster === undefined">
    <form>
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Level</th>
        <th scope="col">Icon</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let monster of tableDatasource$ | async; index as i" (click)="onSelect(monster)">
        <th scope="row"><ngb-highlight [result]="monster.level | number" [term]="filter.value"></ngb-highlight></th>
        <td>
          <img src="../../assets/images/{{monster.icon}}" class="me-2" style="width: 20px"/>
        </td>
        <td><ngb-highlight [result]="monster.name.en" [term]="filter.value"></ngb-highlight></td>
        <td>
          <button type="button" class="btn btn-primary" (click)="onSelect(monster)" [class.selected]="monster === selectedMonster">
            Show          
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>